<h2 mat-dialog-title>Edit Invoice</h2>
<mat-dialog-content>
  <mat-card class="form-card">
    <mat-card-content>
      <form [formGroup]="invoiceForm">

        <!-- number  direction -->
        <div class="form-inputs">
          <mat-form-field>
            <input matInput placeholder="Number" formControlName="number" [(ngModel)]="invoice.number" required>
            <mat-error *ngIf="invoiceForm.controls.number.errors">
            <span *ngIf="invoiceForm.controls.number.errors.minlength">number must be at least {{invoiceForm.controls.number.errors.minlength.requiredLength}}
              characters</span>
              <span *ngIf="invoiceForm.controls.number.errors.required">number is <strong>required</strong></span>
            </mat-error>
            <button mat-button *ngIf="invoice.number" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceForm.controls.number.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Direction" formControlName="direction" [(ngModel)]="invoice.direction" required>
            <mat-error *ngIf="invoiceForm.controls.direction.errors">
            <span
              *ngIf="invoiceForm.controls.direction.errors.minlength">direction must be at least {{invoiceForm.controls.direction.errors.minlength.requiredLength}}
              characters</span>
              <span *ngIf="invoiceForm.controls.direction.errors.required">direction is <strong>required</strong></span>
            </mat-error>
            <button mat-button *ngIf="invoice.direction" matSuffix mat-icon-button aria-label="Clear" (click)="invoice.direction=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <!-- create_date supply_date-->
        <div class="form-inputs">
          <mat-form-field>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="createDate" placeholder="Create Date" formControlName="date_created" [(ngModel)]="dateCreated" required>
            <mat-error *ngIf="invoiceForm.controls.date_created.errors">
              <span *ngIf="invoiceForm.controls.date_created.errors.required">date_created is <strong>required</strong></span>
              <span *ngIf="invoiceForm.controls.date_created.errors.matDatepickerMax"> date_created is greater than 2030/0/1</span>
              <span *ngIf="invoiceForm.controls.date_created.errors.matDatepickerMin"> date_created is less than 1970/0/1</span>
              <span *ngIf="invoiceForm.controls.date_created.errors.matDatepickerParse"> date_created is Invalid</span>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="createDate"></mat-datepicker-toggle>
            <mat-datepicker #createDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="supplyDate" placeholder="Supply Date" formControlName="date_supply" [(ngModel)]="dateSupply" required>
            <mat-error *ngIf="invoiceForm.controls.date_supply.errors">
              <span *ngIf="invoiceForm.controls.date_supply.errors.required">date_supply is <strong>required</strong></span>
              <span *ngIf="invoiceForm.controls.date_supply.errors.matDatepickerMax"> date_supply is greater than 2030/0/1</span>
              <span *ngIf="invoiceForm.controls.date_supply.errors.matDatepickerMin"> date_supply is less than 1970/0/1</span>
              <span *ngIf="invoiceForm.controls.date_supply.errors.matDatepickerParse"> date_supply is Invalid</span>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="supplyDate"></mat-datepicker-toggle>
            <mat-datepicker #supplyDate></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- due_date comment -->
        <div>
          <mat-form-field>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dueDate" placeholder="Due Date" formControlName="date_due" [(ngModel)]="dateDue" required>
            <mat-error *ngIf="invoiceForm.controls.date_due.errors">
              <span *ngIf="invoiceForm.controls.date_due.errors.required">date_due is <strong>required</strong></span>
              <span *ngIf="invoiceForm.controls.date_due.errors.matDatepickerMax"> date_due is greater than 2030/0/1</span>
              <span *ngIf="invoiceForm.controls.date_due.errors.matDatepickerMin"> date_due is less than 1970/0/1</span>
              <span *ngIf="invoiceForm.controls.date_due.errors.matDatepickerParse"> date_due is Invalid</span>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
            <mat-datepicker #dueDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%">
            <textarea matInput placeholder="Comment" formControlName="comment" [(ngModel)]="invoice.comment" required style="height: 70px"></textarea>
            <mat-error *ngIf="invoiceForm.controls.comment.errors">
            <span
              *ngIf="invoiceForm.controls.comment.errors.minlength">comment must be at least {{invoiceForm.controls.comment.errors.minlength.requiredLength}}
              characters</span>
              <span *ngIf="invoiceForm.controls.comment.errors.required">comment is <strong>required</strong></span>
            </mat-error>
            <button mat-button *ngIf="invoice.comment" matSuffix mat-icon-button aria-label="Clear" (click)="invoice.comment=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="accent">Cancel</button>
  <button mat-button [mat-dialog-close]="invoice" color="primary" (click)="updateInvoice()" [disabled]="invoiceForm.invalid">Save</button>
</mat-dialog-actions>

